#div1{
    width: 110%;
    height: 200px;
    border: 2px solid blue;
    color: black;
    position: sticky;
}
#div2{

    
    border:2px solid black;
    color: black;
    position: relative;
    left:50px;
}
#div3{
    left: 100px;
    
    border:2px solid red;
    color: black;
    position: absolute;
}
#div4{
    width: 200px;
    height: 200px;
    border:2px solid green;
    color: black;
    position: fixed;
}
#div5{
    width: 200px;
    height: 200px;
    border:2px solid purple;
    color: black;
    position: static;
}
#op0{
    opacity: 0;
    background-color:rgb(225, 178, 84) ;
}
#op01{
    opacity: 0.1;
    background-color:rgb(225, 178, 84) ;
}
#op02{
    opacity: 0.2;
    background-color:rgb(225, 178, 84) ;
}#op03{
    opacity: 0.3;
    background-color:rgb(225, 178, 84) ;
}#op04{
    opacity: 0.4;
    background-color:rgb(225, 178, 84) ;
}#op05{
    opacity: 0.5;
    background-color:rgb(225, 178, 84) ;
}#op06{
    opacity: 0.6;
    background-color:rgb(225, 178, 84) ;
}#op07{
    opacity: 0.7;
    background-color:rgb(225, 178, 84) ;
}#op08{
    opacity: 0.8;
    background-color:rgb(225, 178, 84) ;
}#op09{
    opacity: 0.9;
    background-color:rgb(225, 178, 84) ;
}#op1{
    opacity: 1;
    background-color:rgb(225, 178, 84) ;
}

























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































